{% extends '../base.html' %}
{% load static %}
{% block title %} Password reset done {% endblock title %}
{% block content %}

<section class="page-add">
    <div class="container">
        <div class="justify-content-center py-4">
        </div class="col-md-12">
        <h4 class="text-monospace text-muted mb-4">Password rest link sent</h4>
        <hr>
        </div>
        <div class="col-md-12">
            <p class="lead text-dark">
                you should change your password as early as possible
            </p>
        </div>
    </div>

</section>
{% endblock content %}