<!-- seller_dashboard.html -->
{% extends 'sidebar.html' %}
{% load crispy_forms_tags %}
{% block content %}


<section>
  <div class="container">
  <div class="col-md-12">
    {% comment %} <h3 class="mb-4">Seller Dashboard</h3> {% endcomment %}
    <form method="get" class="mb-4">
      <div class="form-row d-flex">
        <div class=" mb-3">
          {{ date_range_form.start_date|as_crispy_field }}
        </div>
        <div class="ms-5 mb-3">
          {{ date_range_form.end_date|as_crispy_field }}
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Filter</button>
      <a href="{% url 'pdf' %}" target="_blank" class="btn btn-success btn-md">Print</a>
    </form>

    {% if seller_orders %}
    <div class="">
      {% comment %} <div class="table-responsive"> {% endcomment %}
          <table class="table display table-bordered table-striped table-hover sourced">
              <thead>
                  <tr>
                    <th>Id</th>
                    <th>Image</th>
                      <th>Products Name</th>
                      <th>Quantity</th>
                      <th>Price</th>
                      <th>Admin Share Amount</th>

                  </tr>
              </thead>
              <tbody>
                {% for order_item in seller_orders %}
                  <tr>
                    <td>{{ order_item.id }}</td>
                    <td><img style="width: 50%; height: 120px" src="{{order_item.product.thumbnail }}" alt=""/></td>
                      <td>{{ order_item.product.title }}</td>
                      <td>{{ order_item.quantity }}</td>
                      <td>{{ order_item.price }}</td>
                      <td>{{ order_item.admin_share_amount }}</td>


                  </tr>
                  {% endfor %}

              </tbody>
              <tfoot>
                  <tr>
                    <th>Id</th>
                    <th>Image</th>
                      <th>Product Name</th>
                      <th>Quantity</th>
                      <th>Price</th>
                      <th>Admin Share Amount</th>

                  </tr>
              </tfoot>
          </table>
      {% comment %} </div> {% endcomment %}
  </div>
  {% else %}
   <div class="col-md-12">
      <h3> No sold products yet. </h3>
   </div>
   {% endif %}
</section>

{% endblock %}
