{% extends 'sidebar.html' %}

{% block content %}
  <h2>SELLER LIST</h2>
  <div class="d-flex justify-content-end">
    <button type="button" onclick="window.location.href='{% url 'add_seller' %}'" class="btn btn-labeled btn-success mb-2 me-1">
        <span class="btn-label"><i class="fas fa-chevron-right"></i></span>Add Seller Type
    </button>

  </div>

  {% if seller_types %}


    <div class="card-body">
        {% comment %} <div class="table-responsive"> {% endcomment %}
            <table class="table display table-bordered table-striped table-hover sourced">
                <thead>
                    <tr>

                        <th>User Name</th>
                        <th>Email</th>
                        <th>Seller Type</th>
                        <th>Date Joined</th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody>
                    {% for user in seller_types %}
                    <tr>


                        <td> {{ user.seller.username }}</td>
                        <td> {{ user.seller.email }}</td>
                        <td>{{ user.seller_type }}</td>
                        <td>{{ user.seller.date_joined }}</td>
                        <td>
                        <form method="post" action="{% url 'staff_users_list'  %}">
                            {% csrf_token %}
                            <button type="submit"class="btn btn-danger-soft btn-sm"><i class="far fa-trash-alt"></i></button>
                        </form>


                    </td>
                    </tr>
                    {% endfor %}

                </tbody>
                <tfoot>
                    <tr>
                        <th>User Name</th>
                        <th>Email</th>
                        <th>Seller Type</th>
                        <th>Date Joined</th>
                        <th>Actions</th>

                    </tr>
                </tfoot>
            </table>
        {% comment %} </div> {% endcomment %}
    </div>
  {% else %}
    <p>No SELLER available </p>
  {% endif %}
{% endblock %}

