<!-- add_category.html -->
{% extends 'sidebar.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <h2>Add Customer</h2>
  <div class="d-flex justify-content-end">
    <button type="button" onclick="window.location.href='{% url 'customer_list' %}'" class="btn btn-labeled btn-success mb-2 me-1">
        <span class="btn-label"><i class="fas fa-chevron-right"></i></span>Customer List
    </button>

  </div>
  <form method="post" action="{% url 'add_user' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit"  class="btn btn-primary">Add User</button>
  </form>
{% endblock %}

