
{% extends 'sidebar.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <h2>Order LIST</h2>

  {% if orders %}


    <div class="card-body">
        {% comment %} <div class="table-responsive"> {% endcomment %}
            <table class="table display table-bordered table-striped table-hover sourced">
                <thead>
                    <tr>

                        <tr>
                            <th>Order ID</th>
                            <th>User</th>
                            <th>Address</th>
                            <th>Total</th>
                            <th>Status</th>
                            <th>Update Status</th>

                            <!-- Add more columns as needed -->
                        </tr>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.user.username }}</td>
                        <td>{{ order.address }}</td>
                        <td>${{ order.total }}</td>
                        <td>{{ order.status }}</td>
                        <td>

                                    <i  type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal_{{order.id}}" style="cursor: pointer;" class="hvr-buzz-out fas fa-edit btn-danger-soft"></i>

                        </td>

                    </tr>


                          <!-- Modal -->
                          <div class="modal fade" id="exampleModal_{{order.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel_{{order.id}}">Total: {{order.total}}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>

                                    <div class="modal-body py-4">
                                        {% for order_item in order.order_items.all %}
                                            {% with product=order_item.product %}
                                                <div class="row my-2">
                                                    <div class="col-md-4 px-4 ">
                                                        <img style="width: 100%; height: 220px" src="{{ product.thumbnail }}" alt=""/>
                                                    </div>
                                                    <div class="col-md-8 px-4">
                                                        <h4>{{ product.title }}</h4>
                                                        <p><strong>Price:</strong> $ {{ order_item.price }}</p>
                                                        <p><strong>Quantity:</strong> {{ order_item.quantity }}</p>

                                                    </div>
                                                </div>
                                                <hr>
                                            {% endwith %}
                                        {% endfor %}
                                        <form method="post" action="{% url 'order_list' %}">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col">
                                                    <input type="hidden" name="order_id" value="{{ order.id }}">

                                                    {{ status_update_form|crispy }}
                                                </div>

                                                <div class="col">
                                                    <button type="submit"class="btn btn-danger-soft btn-sm"><i class="hvr-buzz-out fas fa-edit"></i></button>
                                                </div>


                                            </div>

                                        </form>
                                    </div>


                            </div>
                            </div>
                        </div>
                {% endfor %}

                </tbody>
                <tfoot>
                    <tr>
                        <th>Order ID</th>
                        <th>User</th>
                        <th>Address</th>
                        <th>Total</th>
                        <th>Status</th>
                        <th>Update Status</th>

                        <!-- Add more columns as needed -->
                    </tr>
                </tfoot>
            </table>
        {% comment %} </div> {% endcomment %}
    </div>
  {% else %}
    <p>No order available </p>
  {% endif %}
{% endblock %}

