<!-- products_by_seller.html -->
{% extends 'sidebar.html' %}

{% block content %}
  <h2>Products by {{ request.user.username }}</h2>

  {% if products %}


    <div class="card-body">
        {% comment %} <div class="table-responsive"> {% endcomment %}
            <table class="table display table-bordered table-striped table-hover sourced">
                <thead>
                    <tr>
                        <th>Thumbnail</th>
                        <th>Extra</th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Actions</th>


                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td><img src="{{ product.thumbnail }}" style="width: 100px; height: 100px;" alt="Product Thumbnail"></td>
                        <td><img src="{{ product.picture.url }}" style="width: 100px; height: 100px;" alt="Product Thumbnail"></td>

                        <td>{{ product.title }}</td>
                        <td>{{ product.price}}</td>
                        <td>{{ product.category }}</td>

                        <td>
                        <form method="post" action="{% url 'product_delete' pk=product.id %}">
                            {% csrf_token %}
                            <button type="submit"class="btn btn-danger-soft btn-sm"><i class="far fa-trash-alt"></i></button>
                        </form>


                    </td>
                    </tr>
                    {% endfor %}

                </tbody>
                <tfoot>
                    <tr>
                        <th>Thumbnail</th>
                        <th>Extra</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Price</th>

                    </tr>
                </tfoot>
            </table>
        {% comment %} </div> {% endcomment %}
    </div>
  {% else %}
    <p>No products available for this seller.</p>
  {% endif %}
{% endblock %}

