
{% extends 'sidebar.html' %}


{% block content %}
  <h2>Order LIST</h2>

  {% if orders %}


    <div class="card-body">
        {% comment %} <div class="table-responsive"> {% endcomment %}
            <table class="table display table-bordered table-striped table-hover sourced">
                <thead>
                    <tr>

                        <tr>
                            <th>Transaction Id</th>
                            <th>Customer Email</th>
                            <th>Status</th>
                            <th>Details</th>


                            <!-- Add more columns as needed -->
                        </tr>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{order.transaction_id}}</td>
                        <td>{{order.email}}</td>
                        <td>{{order.status}}</td>
                        <td>{{order.created_date}}</td>


                    </tr>
                {% endfor %}


                </tbody>
                <tfoot>
                    <tr>
                      <th>Transaction Id</th>
                      <th>Customer Email</th>
                      <th>Status</th>
                      <th>Details</th>

                        <!-- Add more columns as needed -->
                    </tr>
                </tfoot>
            </table>
        {% comment %} </div> {% endcomment %}
    </div>
  {% else %}
    <p>No order available </p>
  {% endif %}
{% endblock %}

